name: Automate Gradlew Build

on:
  push:
  pull_request:
    types: [opened, reopened]

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - name: Setup Action
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: "17"
          distribution: "adopt"

      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2

      - name: Grant execute permission for gradlew
        run: chmod +x gradle

      - name: Execute Gradle build
        run: ./gradle build

      - name: Upload build
        uses: actions/upload-artifact@v3
        with:
          name: latest-dev
          path: build/libs/*.jar
